@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: 'Noto Serif', serif;
  font-weight: 300;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.logo {
  font-family: 'Tangerine', cursive;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-btn {
  position: absolute;
  bottom: 3rem;
  width: 13rem;
  height: 13rem;
  background-color: red;
  border-radius: 50%;
  border: 0.2rem solid gold;
  padding: 0.1rem;
  overflow: hidden;
}

.mouse-circle,
.mouse.dot {
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform: translate(-50%, -50%);
  /* opacity: 0; */
  pointer-events: none;
}

.mouse-circle{
  width: 6rem;
  height: 6rem;
  border: 0.1rem solid red;
  animation: mouseCircleAnim 10s linear infinite;
}

@keyframes mouseCircleAnim {
  0% {
    width: 6rem;
    height: 6rem;
  }
  25% {
    width: 8rem;
    height: 8rem;
  }
  35% {
    width: 4rem;
    height: 4rem;
  }
  70% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 6rem;
    height: 6rem;
  }
}

.mouse-dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  animation: 10s mouseDotAnim 10s infinite linear 
}

@keyframes mouseDotAnim {
  0% {
    width: 0.5rem;
    height: 0.5rem;
  }
  55% {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  100% {
    width: 0.5rem;
    height: 0.5rem;
  }
}
