@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Smooch+Sans:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Smooth Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

:root {
  --main: #ff4500;
  --main-light: hsla(16, 100%, 50%, 0.55);
  --main-dark: hsla(16, 100%, 50%, 0.85);
  --support : #ffd700;
  --support-light : hsla(51, 100%, 50%, 0.55);
  --support-dark : hsla(51, 100%, 50%, 0.85);
  --light: #fffcfa;
  --light-light: hsla(24, 100%, 99%, 0.55);
  --light-dark: hsla(24, 100%, 99%, 0.85);
  --dark: #111;
  --dark-light: hsla(0, 0%, 7%, 0.55);
  --dark-dark: hsla(0, 0%, 7%, 0.85);
  --dark: #111;
  --grey-dark: #333;
  --grey-medius: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
  --transition: all 0.5s ease-in-out;
  --font-size-title: calc(2rem + 2vw);
  --padding-section: 8vh 3vw;
}

.logo {
  font-family: 'Amatic SC', sans-serif;
}

body {
  line-height: 1.7;
  background-color: var(--light);
  color: var(--dark);
}

.container {
  display: grid;
  grid-template-columns:
    [container-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 11rem) [col-end]
    )
    [center-end] 1fr [container-end];
  grid-template-rows: 100vh repeat(8, min-content);
}

a {
  color: var(--grey-dark);
  font-size: calc(0.5rem + 1vw);
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  position: relative;
  transition: var(--transition);
  z-index: 1;
}

p {
  font-size: calc(1rem + 1vw);
}

li {
  margin-bottom: 4rem;
}

i {
  font-size: var(--font-size-title);
  color: var(--main);
}

#header {
  grid-column: container-start / container-end; 
  background:linear-gradient(
    var(--dark-light),
    var(--dark-light)),
    url('./images/hero/hero-bg.jpg') no-repeat center;
  background-size: cover;
}

.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
}

.header-nav input[type="checkbox"] {
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.header-hamburger {
  position: absolute;
  top: 3rem;
  left: 3rem;
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  background-color: var(--dark);
  z-index: 2;
  display: grid;
  place-items: center;
  animation: main-nav 2s;
}

@keyframes main-nav {
  0% {
    transform: translateX(150rem) rotate(1800deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}

.header-hamburger > div {
  position: relative;
  height: 0.3rem;
  width: 100%;
  background-color: var(--main);
  display: grid;
  place-items: center;
  transition: var(--transition);
}

.header-hamburger > div::before,
.header-hamburger > div::after {
  content: '';
  position: absolute;
  top: -1rem;
  width: 60%;
  height: inherit;
  background-color: inherit;
  z-index: 2;
}

.header-hamburger > div::before {
  left: 0;
}

.header-hamburger > div::after {
  top: 1rem;
  right: 0;
}

.header-nav input[type="checkbox"]:checked + .header-hamburger > div {
  transform: rotate(135deg)
}

.header-nav input[type="checkbox"]:checked +.header-hamburger > div::before {
  left: 0;
  top: 0;
  width: 100%;
  transform: rotate(270deg);
}

.header-nav input[type="checkbox"]:checked +.header-hamburger > div::after {
  opacity: 0;
}


