@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Pinyon+Script&display=swap');

* {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
}

:root {
  --primary: #ce2b37;
  --secondary: #009246;
  
  --light: #fff;
  --dark: #111;
  --grey-extra-light: #eee;
  --grey-light: #ccc;
  --grey-dark: #333;
}

.logo {
  font-family: 'Pinyon Script', cursive;
  color: var(--grey-dark);
}

